@font-face {
  font-family: 'almoni';
  font-weight: 300;
  /*(light)*/
  font-style: normal;
  font-display: swap;
  src: url("../fonts/almoni-dl-aaa-300.ttf") format("truetype"); }

@font-face {
  font-family: 'almoni';
  font-weight: 400;
  /*(regular)*/
  font-style: normal;
  font-display: swap;
  src: url("../fonts/almoni-dl-aaa-400.ttf") format("truetype"); }

@font-face {
  font-family: 'almoni';
  font-weight: 700;
  /*(bold)*/
  font-style: normal;
  font-display: swap;
  src: url("../fonts/almoni-dl-aaa-700.ttf") format("truetype"); }

@font-face {
  font-family: 'almoni';
  font-weight: 900;
  /*(black)*/
  font-style: normal;
  font-display: swap;
  src: url("../fonts/almoni-dl-aaa-900.ttf") format("truetype"); }

@font-face {
  font-family: 'almoni-tzar';
  font-weight: 200;
  /*(regular)*/
  font-style: normal;
  font-display: swap;
  src: url("../fonts/almoni-neue-tzar-aaa-200.ttf") format("truetype"); }

@font-face {
  font-family: 'almoni-tzar';
  font-weight: 300;
  /*(regular)*/
  font-style: normal;
  font-display: swap;
  src: url("../fonts/almoni-neue-tzar-aaa-300.ttf") format("truetype"); }

@font-face {
  font-family: 'almoni-tzar';
  font-weight: 400;
  /*(regular)*/
  font-style: normal;
  font-display: swap;
  src: url("../fonts/almoni-neue-tzar-aaa-400.ttf") format("truetype"); }

@font-face {
  font-family: 'almoni-tzar';
  font-weight: 500;
  /*(regular)*/
  font-style: normal;
  font-display: swap;
  src: url("../fonts/almoni-neue-tzar-aaa-500.ttf") format("truetype"); }

@font-face {
  font-family: 'almoni-tzar';
  font-weight: 700;
  /*(regular)*/
  font-style: normal;
  font-display: swap;
  src: url("../fonts/almoni-neue-tzar-aaa-700.ttf") format("truetype"); }

.heading-1 {
  font-family: 'almoni';
  font-weight: 900;
  font-size: 4.5vw;
  line-height: .75;
  color: #1565c0; }
  .heading-1 span {
    display: block; }

.heading-2 {
  font-family: 'almoni';
  font-weight: 300;
  font-size: 4vw;
  line-height: .75;
  color: #1565c0;
  text-align: center; }
  .heading-2 span {
    font-weight: 900; }

.heading-3 {
  font-family: 'almoni';
  font-weight: 900;
  font-size: 4vw;
  line-height: .75;
  color: #f8f6f6;
  text-align: center; }

.heading-4 {
  font-family: 'almoni';
  font-weight: 900;
  font-size: 2vw;
  line-height: .75;
  color: #181818; }

.para {
  font-weight: 300;
  font-size: 1.4vw;
  padding: 17px 0; }
  .para span {
    font-weight: 900;
    display: block; }

.para-lg {
  font-weight: 400;
  font-size: 1.8vw;
  padding: 7px 0; }
  .para-lg span {
    font-weight: 700;
    display: block; }

.header-box {
  width: 100%;
  max-width: 33vw;
  padding: 1rem;
  padding-right: 2vw; }

.text-box {
  width: 35%;
  padding-right: .5rem; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  direction: rtl;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300))); }

body {
  font-family: 'almoni', sans-serif; }

.container {
  background: #f8f6f6;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  overflow: hidden; }

.steps-section {
  background: url(../img/pattern.png);
  padding: 2.5rem;
  box-shadow: 0 0 15px rgba(24, 24, 24, 0.4);
  position: relative; }
  .steps-section__box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.5rem;
    opacity: 0;
    transition: opacity 0.4s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
    .steps-section__box.on {
      opacity: 1; }
    .steps-section__box .icon {
      width: 10.5rem;
      height: 10.5rem; }
  .steps-section__number {
    position: absolute;
    display: block;
    font-size: 28vw;
    font-weight: 300;
    bottom: 0;
    left: -50%;
    font-family: "almoni";
    color: rgba(21, 101, 192, 0.3);
    line-height: .6;
    transition: left 1s; }
    .steps-section__number.on {
      left: -9%; }

.header-section {
  padding: 2rem;
  padding-top: 0; }
  .header-section .logo {
    max-width: 17vw;
    width: 100%;
    height: auto;
    display: block; }

.form-section {
  background: linear-gradient(to right, #00F5F5, #D500F9);
  grid-column: 1 / -1;
  padding: 1.2rem;
  z-index: 500;
  box-shadow: 0 0 15px rgba(24, 24, 24, 0.4); }

.form {
  width: 70vw;
  max-width: 100%;
  margin: 0 auto;
  font-family: "almoni"; }
  .form__row {
    display: flex;
    justify-content: center;
    padding: 1em 0; }
    .form__row > * {
      flex: 0 0 25%; }
  .form__control {
    font-family: inherit;
    margin: 0 20px;
    padding: .5em;
    opacity: .8;
    background: #f8f6f6;
    font-size: 20px;
    border: 0; }
  .form__btn {
    flex-basis: 15%;
    font-family: inherit;
    color: #f8f6f6;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #F50057;
    font-weight: 700;
    border: 1px solid transparent;
    border-radius: 30px;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: 0 0 15px rgba(24, 24, 24, 0.4);
    transition: all .4s ease-in;
    margin-right: 10px; }
    .form__btn:hover {
      transform: scale(1.05);
      box-shadow: none; }
  .form__group {
    color: #f8f6f6;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  .form__link {
    color: #f8f6f6;
    text-decoration: none; }
  .form__checkbox {
    margin-left: 10px;
    cursor: pointer; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; }

.line {
  fill: none;
  stroke: #777;
  stroke-width: 5px;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.4s; }
  .line.stage-0 {
    stroke-dasharray: 218 1000;
    stroke-dashoffset: 0; }
  .line.stage-1 {
    stroke-dasharray: 184 1000;
    stroke-dashoffset: -418; }
  .line.stage-2 {
    stroke-dasharray: 238 1000;
    stroke-dashoffset: -400; }
