*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    direction: rtl;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

body {
    font-family: 'almoni', sans-serif;
}



