@font-face {
    font-family: 'almoni';
    font-weight: 300;
    /*(light)*/
    font-style: normal;
    font-display: swap;
    src: url('../fonts/almoni-dl-aaa-300.ttf') format('truetype');
}

@font-face {
    font-family: 'almoni';
    font-weight: 400;
    /*(regular)*/
    font-style: normal;
    font-display: swap;
    src: url('../fonts/almoni-dl-aaa-400.ttf') format('truetype');
}

@font-face {
    font-family: 'almoni';
    font-weight: 700;
    /*(bold)*/
    font-style: normal;
    font-display: swap;
    src: url('../fonts/almoni-dl-aaa-700.ttf') format('truetype');
}

@font-face {
    font-family: 'almoni';
    font-weight: 900;
    /*(black)*/
    font-style: normal;
    font-display: swap;
    src: url('../fonts/almoni-dl-aaa-900.ttf') format('truetype');
}



@font-face {
    font-family: 'almoni-tzar';
    font-weight: 200;
    /*(regular)*/
    font-style: normal;
    font-display: swap;
    src: url('../fonts/almoni-neue-tzar-aaa-200.ttf') format('truetype');
}

@font-face {
    font-family: 'almoni-tzar';
    font-weight: 300;
    /*(regular)*/
    font-style: normal;
    font-display: swap;
    src: url('../fonts/almoni-neue-tzar-aaa-300.ttf') format('truetype');
}

@font-face {
    font-family: 'almoni-tzar';
    font-weight: 400;
    /*(regular)*/
    font-style: normal;
    font-display: swap;
    src: url('../fonts/almoni-neue-tzar-aaa-400.ttf') format('truetype');
}

@font-face {
    font-family: 'almoni-tzar';
    font-weight: 500;
    /*(regular)*/
    font-style: normal;
    font-display: swap;
    src: url('../fonts/almoni-neue-tzar-aaa-500.ttf') format('truetype');
}

@font-face {
    font-family: 'almoni-tzar';
    font-weight: 700;
    /*(regular)*/
    font-style: normal;
    font-display: swap;
    src: url('../fonts/almoni-neue-tzar-aaa-700.ttf') format('truetype');
}


