.form {

    width: 70vw;
    max-width: 100%;
    margin: 0 auto;
    font-family: $font-primary;
    

    &__row {
        display: flex;
        justify-content: center;
        padding: 1em 0;

        & > * {
            flex: 0 0 25%;
        }

    }

    &__control {
        font-family: inherit;
        margin: 0 20px;
        padding: .5em;
        opacity: .8;
        background: $color-light;
        font-size: 20px;
        border: 0;

  
    }
    
    &__btn {
        flex-basis: 15%;
        font-family: inherit;
        color: $color-light;
        padding: 10px;
        font-size: 20px;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        background-color: $color-3;
        font-weight: 700;
        border: 1px solid transparent;
        border-radius: 30px;
        cursor: pointer;
        -webkit-appearance: none;
        appearance: none;
        box-shadow: $shadow;
        transition: all .4s ease-in;
        margin-right: 10px;

        &:hover {
            transform: scale(1.05);
            box-shadow: none;
        }
    }

    &__group {
        color: $color-light;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
     
    }

    &__link {
        color: $color-light;
        text-decoration: none;
    }


    &__checkbox {
        margin-left: 10px;
        cursor: pointer;
        
    }
 
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}