.container {
    background:$color-light;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
}



.steps-section {
    background: url(../img/pattern.png);
    padding: 2.5rem;
    box-shadow: $shadow;
    position: relative;

    &__box {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2.5rem;
        opacity: 0;
        transition: opacity 0.4s;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        &.on {
            opacity: 1;
        }


        .icon {
            width: 10.5rem;
            height: 10.5rem;
        } 
    }
    

    &__number {
        position: absolute;
        display: block;
        font-size: 28vw;
        font-weight: 300;
        bottom: 0;
        left: -50%;
        font-family: $font-primary;
        color: rgba($color-5, .3);
        line-height: .6;
        transition: left 1s;
        &.on {
            left: -9%;
        }
    }

}


.header-section {
    padding: 2rem;    
    padding-top: 0;

    .logo {
        max-width: 17vw;
        width: 100%;
        height: auto;
        display: block;
    }
}

.form-section {
    background: linear-gradient(to right, $gradient-1, $gradient-2);
    grid-column: 1 / -1;
    padding: 1.2rem;
    z-index: 500;
    box-shadow: $shadow;

}