.line {
    fill: none;
    stroke: #777;
    stroke-width: 5px;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.4s;
    
    &.stage-0 { stroke-dasharray: 218 1000; stroke-dashoffset: 0; }
    &.stage-1 { stroke-dasharray: 184 1000; stroke-dashoffset: -418; }
    &.stage-2 { stroke-dasharray: 238 1000; stroke-dashoffset: -400; }
}