.heading-1 {
    font-family: 'almoni';
    font-weight: 900;
    font-size: 4.5vw;
    line-height: .75;
    color: $color-5;
    span {
        display: block;


    }
}

.heading-2 {
    font-family: 'almoni';
    font-weight: 300;
    font-size: 4vw;
    line-height: .75;
    color: $color-5;
    text-align: center;
    span {
        font-weight: 900;
    }
}

.heading-3 {
    font-family: 'almoni';
    font-weight: 900;
    font-size: 4vw;
    line-height: .75;
    color: $color-light;
    text-align: center;
}

.heading-4 {
    font-family: 'almoni';
    font-weight: 900;
    font-size: 2vw;
    line-height: .75;
    color: $color-dark;
}


.para {
    font-weight: 300;
    font-size: 1.4vw;

    padding: 17px 0;
    span {
        font-weight: 900;
        display: block;
        
    }
}

.para-lg {
    font-weight: 400;
    font-size: 1.8vw;

    padding: 7px 0;
    span {
        font-weight: 700;
        display: block;
    }
}

.header-box {
    width: 100%;
    max-width: 33vw;
    padding: 1rem;
    padding-right: 2vw;
}

.text-box {
    width: 35%;
    padding-right: .5rem;
}