// COLORS
$color-1 : #8352A1;
$color-2 : #263238;
$color-3 : #F50057;
$color-4 : #ff8f00;
$color-5 : #1565c0;

$color-light:rgb(248, 246, 246);
$color-dark: rgb(24, 24, 24);
$color-gray: rgb(248, 248, 248);

$gradient-1: #00F5F5;
$gradient-2: #D500F9;

// FONTS
$font-primary: 'almoni';
$font-secondary: 'almoni-tzar';

// BOX-SHADOW
$shadow: 0 0 15px rgba($color-dark, .4);
